
#brand { 
    height: 80%;
    max-width: 70px;
} 
.navbar {
   background: rgb(255, 255, 255);
   border-radius: 0px;
   height: 5vh;
   border-bottom: solid 1px lightgrey;
   margin: 0px 15px 15px 15px;
   box-shadow: 0 8px 6px -6px lightgray;
}
.navbar-brand{
    padding: 0;
    height: 100%;
    max-width: 70px;
}
.friend-comp{
    background: linear-gradient(rgb(241, 240, 240), rgb(200,200,200));
    padding: 10px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(233, 233, 233);
    transition: 0.3s ease;
    background: linear-gradient(rgb(241, 240, 240), rgb(235, 233, 233));
}
.friend-comp:hover{
    box-shadow: 8px 8px 8px rgb(184, 184, 184);
}

