<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life Invader</title>
    <%- include('../partials/bootstrap') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   
<div>

    <nav class="navbar sticky-top">
        <a class="navbar-brand">
            <img id="brand" src="/images/MUSE.png" alt="logotus">
            
         </a>
     </nav>
</div>
   <div class="container">
        <img src="/images/MUSE.png" alt="logotus" id="main-logo">
               
       <h2 id="word1">SHARE YOUR THOUGHTS...</h2>
   
                  
    
    

        <a href="/session/login"><h2>Log In</h2></a>
        <p>If you're already a member</p>
        <a href="/session/signup"><h2>Sign Up </h2></a>
        <p>If you're new to the platform</p>
    </div>
    
</body>
</html>