<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life Invader</title>
    <%- include('../partials/bootstrap') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="header">
            <nav class="navbar sticky-top navbar-dark bg-primary">
                    <a class="navbar-brand">
                        <img src="../images/MUSE.png" alt="logo">
                    </a>
                  </nav>
                  
    </header>
    <div class="container"> 

        <a href="/login"><h2>Log In</h2></a>
        <p>If you're already a member</p>
        <a href="/signup"><h2>Sign Up </h2></a>
        <p>If you're new to the platform</p>
    </div>
    
</body>
</html>