<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life Invader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href='/css/login.css'>
</head>
<body>
    <header class="container">

        <h1>Login Page</h1>
    </header>
    <div class="container">

        <div class="container">
            <img src="/images/MUSE.png" alt="logo">
        </div>

        <div class="container form">

            <form action="/session/login"  method="POST" class="form-signin">
                <h2 class="form-signin-heading">Please Sign In</h2> 
                <label for="username" class="sr-only">User Name</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="User Name" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <div class="center">
                    <a href="/"><h2>HOME</h2></a>
                </div>
        </div>

    </div>
    
</body>
</html>